features filter=lfs diff=lfs merge=lfs -text
mvs filter=lfs diff=lfs merge=lfs -text
odm_georeferencing filter=lfs diff=lfs merge=lfs -text
orthophoto filter=lfs diff=lfs merge=lfs -text
reconstruction.ply filter=lfs diff=lfs merge=lfs -text
camera_models.json filter=lfs diff=lfs merge=lfs -text
filterpoints filter=lfs diff=lfs merge=lfs -text
matches filter=lfs diff=lfs merge=lfs -text
mesh filter=lfs diff=lfs merge=lfs -text
reference_lla.json filter=lfs diff=lfs merge=lfs -text
tracks.csv filter=lfs diff=lfs merge=lfs -text
images.json filter=lfs diff=lfs merge=lfs -text
img_list filter=lfs diff=lfs merge=lfs -text
reconstruction.json filter=lfs diff=lfs merge=lfs -text
1-compute_times.json filter=lfs diff=lfs merge=lfs -text
exif filter=lfs diff=lfs merge=lfs -text
images filter=lfs diff=lfs merge=lfs -text
mve filter=lfs diff=lfs merge=lfs -text
opensfm filter=lfs diff=lfs merge=lfs -text
undistorted filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto_corners.tif filter=lfs diff=lfs merge=lfs -text
exif/DJI_0031.JPG.exif filter=lfs diff=lfs merge=lfs -text
images/DJI_0030.JPG filter=lfs diff=lfs merge=lfs -text
images/DJI_0019.JPG filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model_data_costs.spt filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/proj.txt filter=lfs diff=lfs merge=lfs -text
features/DJI_0026.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
features/DJI_0035.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model_labeling.vec filter=lfs diff=lfs merge=lfs -text
images/DJI_0020.JPG filter=lfs diff=lfs merge=lfs -text
images/DJI_0023.JPG filter=lfs diff=lfs merge=lfs -text
mve/synth_0.out filter=lfs diff=lfs merge=lfs -text
features/DJI_0024.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
matches/DJI_0022.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model_geo.mtl filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model.obj filter=lfs diff=lfs merge=lfs -text
features/DJI_0019.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
images/DJI_0026.JPG filter=lfs diff=lfs merge=lfs -text
matches/DJI_0032.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
opensfm/reference_lla.json filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto_feathered.tif filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto.original.png.aux.xml filter=lfs diff=lfs merge=lfs -text
images/DJI_0018.JPG filter=lfs diff=lfs merge=lfs -text
images/DJI_0032.JPG filter=lfs diff=lfs merge=lfs -text
mve/mve_dense_point_cloud.ply filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto_cut.tif filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto.original.png filter=lfs diff=lfs merge=lfs -text
exif/DJI_0034.JPG.exif filter=lfs diff=lfs merge=lfs -text
features/DJI_0025.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
undistorted/reconstruction.nvm filter=lfs diff=lfs merge=lfs -text
matches/DJI_0020.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
matches/DJI_0026.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
exif/DJI_0035.JPG.exif filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/coords.txt filter=lfs diff=lfs merge=lfs -text
exif/DJI_0028.JPG.exif filter=lfs diff=lfs merge=lfs -text
features/DJI_0027.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
matches/DJI_0035.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
features/DJI_0020.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
filterpoints/point_cloud.ply filter=lfs diff=lfs merge=lfs -text
matches/DJI_0033.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto.original.tif filter=lfs diff=lfs merge=lfs -text
exif/DJI_0021.JPG.exif filter=lfs diff=lfs merge=lfs -text
features/DJI_0018.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
images/DJI_0025.JPG filter=lfs diff=lfs merge=lfs -text
matches/DJI_0024.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
exif/DJI_0027.JPG.exif filter=lfs diff=lfs merge=lfs -text
matches/DJI_0031.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
mesh/odm_mesh.ply filter=lfs diff=lfs merge=lfs -text
mve/views filter=lfs diff=lfs merge=lfs -text
undistorted/reconstruction.json filter=lfs diff=lfs merge=lfs -text
exif/DJI_0025.JPG.exif filter=lfs diff=lfs merge=lfs -text
images/DJI_0033.JPG filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model_geo.obj filter=lfs diff=lfs merge=lfs -text
images/DJI_0028.JPG filter=lfs diff=lfs merge=lfs -text
matches/DJI_0034.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model_material0000_map_Kd.png filter=lfs diff=lfs merge=lfs -text
orthophoto/gdal_translate_log.txt filter=lfs diff=lfs merge=lfs -text
undistorted/tracks.csv filter=lfs diff=lfs merge=lfs -text
features/DJI_0030.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
matches/DJI_0023.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
exif/DJI_0030.JPG.exif filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model.mtl filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto_log.tif filter=lfs diff=lfs merge=lfs -text
images/DJI_0035.JPG filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferenced_model.bounds.geojson filter=lfs diff=lfs merge=lfs -text
undistorted/images filter=lfs diff=lfs merge=lfs -text
exif/DJI_0022.JPG.exif filter=lfs diff=lfs merge=lfs -text
images/DJI_0021.JPG filter=lfs diff=lfs merge=lfs -text
matches/DJI_0021.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto_render.tif filter=lfs diff=lfs merge=lfs -text
features/DJI_0028.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
matches/DJI_0018.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto.tif filter=lfs diff=lfs merge=lfs -text
exif/DJI_0024.JPG.exif filter=lfs diff=lfs merge=lfs -text
features/DJI_0023.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferenced_model.boundary.json filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferenced_model.bounds.gpkg filter=lfs diff=lfs merge=lfs -text
matches/DJI_0029.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
features/DJI_0021.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
images/DJI_0027.JPG filter=lfs diff=lfs merge=lfs -text
matches/DJI_0027.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
mvs/odm_textured_model.conf filter=lfs diff=lfs merge=lfs -text
exif/DJI_0033.JPG.exif filter=lfs diff=lfs merge=lfs -text
features/DJI_0022.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
features/DJI_0031.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
images/DJI_0031.JPG filter=lfs diff=lfs merge=lfs -text
features/DJI_0033.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
images/DJI_0029.JPG filter=lfs diff=lfs merge=lfs -text
images/DJI_0034.JPG filter=lfs diff=lfs merge=lfs -text
matches/DJI_0025.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
exif/DJI_0032.JPG.exif filter=lfs diff=lfs merge=lfs -text
features/DJI_0029.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
exif/DJI_0023.JPG.exif filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferencing_log.txt filter=lfs diff=lfs merge=lfs -text
features/DJI_0034.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferenced_model.laz filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferenced_model.summary.json filter=lfs diff=lfs merge=lfs -text
exif/DJI_0019.JPG.exif filter=lfs diff=lfs merge=lfs -text
exif/DJI_0026.JPG.exif filter=lfs diff=lfs merge=lfs -text
matches/DJI_0019.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
matches/DJI_0028.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
mve/mve_dense_point_cloud.filtered.ply filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferencing_model_geo.txt filter=lfs diff=lfs merge=lfs -text
images/DJI_0022.JPG filter=lfs diff=lfs merge=lfs -text
odm_georeferencing/odm_georeferencing_transform.txt filter=lfs diff=lfs merge=lfs -text
exif/DJI_0029.JPG.exif filter=lfs diff=lfs merge=lfs -text
features/DJI_0032.JPG.features.npz filter=lfs diff=lfs merge=lfs -text
images/DJI_0024.JPG filter=lfs diff=lfs merge=lfs -text
matches/DJI_0030.JPG_matches.pkl.gz filter=lfs diff=lfs merge=lfs -text
opensfm/geocoords_transformation.txt filter=lfs diff=lfs merge=lfs -text
orthophoto/cutline.gpkg filter=lfs diff=lfs merge=lfs -text
orthophoto/odm_orthophoto_resize.png filter=lfs diff=lfs merge=lfs -text
exif/DJI_0018.JPG.exif filter=lfs diff=lfs merge=lfs -text
exif/DJI_0020.JPG.exif filter=lfs diff=lfs merge=lfs -text
mve/views/view_0002.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0007.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0011.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0016.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0017.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0004.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0005.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0009.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0011.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0015.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0016.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0001.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0005.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0010.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0015.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0016.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0000.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0007.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0009.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0014.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0017.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0002.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0003.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0003.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0006.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0012.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0012.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0000.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0004.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0009.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0012.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0013.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0013.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0005.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0008.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0009.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0010.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0010.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0015.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0001.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0007.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0000.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0001.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0001.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0004.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0006.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0010.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0015.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0002.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0013.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0013.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0014.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0003.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0005.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0014.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0017.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0006.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0008.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0004.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0006.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0008.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0008.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0011.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0016.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0000.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0002.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0007.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0011.mve/undistorted.png filter=lfs diff=lfs merge=lfs -text
mve/views/view_0012.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0014.mve/depth-L0.mvei filter=lfs diff=lfs merge=lfs -text
mve/views/view_0003.mve/meta.ini filter=lfs diff=lfs merge=lfs -text
mve/views/view_0017.mve/thumbnail.png filter=lfs diff=lfs merge=lfs -text
